---
import type { Locale } from "@i18n/index";
import { t } from "@i18n/index";
import { Search } from "@lucide/astro";

interface Props {
  locale: Locale;
}

const { locale } = Astro.props;
---

<div class="form-control">
  <div class="relative">
    <Search class="pointer-events-none absolute left-3 top-1/2 h-4 w-4 -translate-y-1/2 text-base-content/40" />
    <input
      type="text"
      placeholder={t(locale, "nav.search")}
      class="input input-sm input-bordered w-full max-w-xs pl-9 text-sm"
      disabled
    />
    <kbd class="kbd kbd-sm pointer-events-none absolute right-2 top-1/2 -translate-y-1/2"
      >⌘K</kbd
    >
  </div>
</div>
