---
interface Props {
  variant?: "primary" | "secondary" | "accent" | "info" | "success" | "warning" | "error" | "ghost" | "outline";
}

const { variant = "primary" } = Astro.props;
---

<span class={`badge badge-${variant}`}><slot /></span>
